
.header {
	height: 5vh;
	width: 100%;
	border-bottom: 3px solid grey;
}

.header_text {
	float: left;
	font-weight: bold;
	align-item: center;
}
.menu_btn {
	height: 100%;
	float:right;
}

.menu_btn > * {
	height: 100%;
}

.header > * {
	height: 100%;
}
